.features  {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}



.featureSvg {
  height: 200px;
  width: 200px;
}

div.col.col--4.unavailable {
  opacity: 0.3 !important;
  border: 5px solid red
}
